[Desktop Entry]
Version=1.0
Type=Application
Name=Cursor
GenericName=Text Editor
Comment=A high-performance, multiplayer code editor.
TryExec=/home/tioeare/tools/Cursor.AppImage
StartupNotify=true
Exec=/home/tioeare/tools/Cursor.AppImage %U
Icon=cursor.png
Categories=Utility;TextEditor;Development;IDE;
Keywords=Cursor;
MimeType=text/plain;application/x-zerosize;x-scheme-handler/Cursor;
Actions=NewWorkspace;

[Desktop Action NewWorkspace]
Exec=/home/tioeare/tools/Cursor.AppImage --new %U
Name=Open a new workspace
