[Desktop Entry]
Version=1.0
Type=Application
Name=JetBrains Gateway
Icon=/home/tioeare/tools/JetBrains/JetBrainsGateway/bin/gateway.svg
Exec="/home/tioeare/tools/JetBrains/JetBrainsGateway/bin/gateway" %u
Categories=Development
StartupWMClass=jetbrains-ide
Terminal=false
MimeType=x-scheme-handler/jetbrains-gateway;
