[Desktop Entry]
Name=CLion 2026.1.4
Exec="/home/tioeare/.local/share/JetBrains/Toolbox/apps/clion/bin/clion" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=jetbrains-clion-98fdec13-6aa8-49c1-abbc-867b391393d5
X-Icon-Path=/home/tioeare/.local/share/icons/hicolor/scalable/apps/jetbrains-clion-98fdec13-6aa8-49c1-abbc-867b391393d5.svg
X-Installed-Icon-Cache-Path=/home/tioeare/.local/share/icons/hicolor
X-Icon-Name-Before-Sanitization=jetbrains-clion-98fdec13-6aa8-49c1-abbc-867b391393d5.desktop.icon.svg
Comment=A cross-platform C and C++ IDE
StartupWMClass=jetbrains-clion
StartupNotify=true
