[Desktop Entry]
Name=PyCharm 2025.3.1.1
Exec="/home/tioeare/.local/share/JetBrains/Toolbox/apps/pycharm-community-2/bin/pycharm" %u
Version=1.0
Type=Application
Categories=Development;IDE;
Terminal=false
Icon=/home/tioeare/.local/share/JetBrains/Toolbox/dotDesktopIcons/jetbrains-pycharm-ce-a18969e9-f523-4d7d-be1c-8b7ac9492938.desktop.icon.svg
Comment=The Only Python IDE you need
StartupWMClass=jetbrains-pycharm
StartupNotify=true
