[Desktop Entry]
Version=1.0
Type=Application
Name=localsend
Icon=localsend
TryExec=/home/tioeare/tools/LocalSend.AppImage
Exec=/home/tioeare/tools/LocalSend.AppImage --no-sandbox
Terminal=false
StartupWMClass=localsend
Comment=localsend
