[Desktop Entry]
Version=1.0
Type=Application
Name=localsend
Icon=localsend
Exec=/home/tioeare/tools/LocalSend.AppImage %u
Terminal=false
StartupWMClass=localsend
Comment=localsend