[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=thunderbrid
TryExec=/home/tioeare/tools/thunderbird/thunderbird-bin
Exec=/home/tioeare/tools/thunderbird/thunderbird %U
Terminal=false
Type=Application
Icon=thunderbird.png
StartupWMClass=thunderbrid
Categories=Network;Email
Comment=thunderbrid
