[Desktop Entry]
Version=1.0
Type=Application
Name=PicGo
Icon=PicGo
TryExec=/home/tioeare/tools/PicGo.AppImage
Exec=/home/tioeare/tools/PicGo.AppImage --no-sandbox
Terminal=False
