[Desktop Entry]
Version=1.0
Type=Application
Name=sunshine
Icon=sunshine
TryExec=/home/tioeare/tools/sunshine.AppImage
Exec=/home/tioeare/tools/sunshine.AppImage --no-sandbox %u
Terminal=false
StartupWMClass=sunshine
Comment=sunshine
