layout {
    pane size=1 split_direction="vertical" {
        pane size="80%" borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane size="20%" borderless=true {
            plugin location="file:~/.local/share/zellij/plugins/zellij-datetime.wasm" {
                timezone1 "UTC8/+8"
                timezone2 "UTC0/0"
                timezone3 "UTC12/+12"
                default_timezone "UTC8"
                // date_format "%Y/%m/%d"
                time_format "%H:%M:%S"
                // enable_right_click true
            }
        }
    }
    pane
    pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }
}
